<main class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h3>Adding a product</h3>
            <form action="/user/seller/products/add" method="POST">
                <label for="form_name">Name</label>
                <input type="text" id="form_name" placeholder="Name of Product" class="form-control mb-3" name="name">
                <label for="form_price">Price</label>
                <input type="text" id="form_price" placeholder="Price of product" class="form-control mb-3" name="price">
                <label for="form_quantity">Quantity</label>
                <input type="number" id="form_quantity" placeholder="Quantity" class="form-control mb-3" name="quantity">
                <button type="submit" class="btn btn-success">Add a product</button>
            </form>
            <div>
                <a href="/user/" class="btn btn-primary mt-3">Go back to dashboard</a>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</main>