<main class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h2 class="d-block text-center">Oops looks like there is an error. Please try again</h2>
            <a href="/" class="btn btn-primary d-block text-center" style="font-size: 1.5em">Go back to home</a>
        </div>
        <div class="col-1"></div>
    </div>
</main>