<main class="container-fluid">
    {{!-- Seller dashboard --}}
    <div class="row mb-3">
        <div class="col-1"></div>
        <div class="col-10">
            <article class="d-block row">
                <h3 class="d-block text-center col-12 w-100">Your Seller dashboard</h3>
            </article>
            <div class="row">
                <a href="/user/seller/products/view/all" class="btn btn-info mr-2">See all of your products</a>
                <a href="/user/seller/products/add" class="btn btn-primary">Add a product</a>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
    {{!-- Buyer dashboard --}}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <article class="d-block row">
                <h3 class="d-block text-center col-12 w-100">Your buyer dashboard</h3>
            </article>
            <div class="row">
                <a href="/user/buyer/products/view/all" class="btn btn-success mr-2">See all products</a>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</main>